<div class='form'>
	<%= form_for :comment, method: 'create', url: @gossip.id.to_s+'/comments', :authenticity_token => true, class:'form' do |f| %>
		<%= f.text_area :content, placeholder: 'Votre commentaire ici', :required => 'required', class:"form-control col-10" %><br />
		<%= f.hidden_field :commenter_id, value: User.find(rand(User.first.id..User.last.id)).id %>
		<%= f.hidden_field :gossip_id, value: @gossip.id  %>
		<%= f.submit 'Publier votre commentaire', class: 'form-group m-auto btn btn-info'%>
	<% end %>
</div>
