<div>
	<h2>Vos informations</h2>
	<p>Votre nom d'utilisateur : <%= @user.name %></p>
	<p>Votre email : <%= @user.email %> </p>
	<%= link_to 'Modifier mes informations', edit_user_path(@user.id), class: 'btn btn-primary' %>


	<h2>Vos commentaires:</h2>
	<div>
		<%= render 'comments/comment-index' %>
	</div>

	<h2>Vos gossips:</h2>
	<div>
		<%= render 'gossips/gossip-index' %>
	</div>
</div>