<section class='tabs'>
	<nav class='profile-info-header'>
		<li>Vos informations</li>
		<li class='modification-tab'> <%= link_to edit_user_path(@user.id)  do %>
			<i class="fas fa-pen"></i>
 			<% end %>
 		</li>
	</nav>
	<div class='cards-container'>
		<p>Votre nom d'utilisateur : <%= @user.name %></p>
		<p>Votre email : <%= @user.email %> </p>
	</div>
</section>

<section class='tabs'>
	<nav>
		<li><%= link_to 'Vos gossips', '#gossips' %></li>
		<li><%= link_to 'Vos comentaires', '#comments' %></li>
		<li><%= link_to 'Vos likes', '#likes' %></li>
	</nav>
	<div class='cards-container'>
		<div class='cards'>
			<div id='gossips'><%= render 'gossips/gossip-index' %></div>
			<div id='comments'><%= render 'comments/comment-index'%></div>
			<div id='likes'></div>
		</div>
	</div>
</section>