<%= form_for :gossip, method: 'patch', url: { action: 'update'} do |f| %>
  Balance ta rumeur<%= f.text_area :content, value: @gossip.content, class:"form-control"%><br />
  <div class='form-group form-check row text-center'>
  	<%= f.check_box :anonymous, value: 1, class:"" %>
  	Souhaitez-vous publier en restant anonyme ?
  </div>
  <%= f.hidden_field :author_id, value: @gossip.author_id %>
  <%= f.hidden_field :id, value: @gossip.id  %>
  <div class= 'form-group text-center'>
	  <%= f.submit 'Enregistrer cette rumeur' , class:'btn btn-info'%>
	</div>
<% end %>