  <section class="card">
    <div class="card-header">
      <div class='card-title'>Rumeur n°<%= @gossip.id %></div>
      <div class='card-like'>
        <a data-method="create" href="<%= gossip_likes_path(@gossip.id) %>"> <i class="fas fa-thumbs-up"></i>  <%= @gossip.likes.count %>
        </a>
      </div>
    </div>

    <div class="card-body">
      <p class="card-text"> <%= @gossip.content %> </p>
    </div>

    <div class="card-caption">
      Postée il y <%= pluralize(((Time.now - @gossip.created_at)/(3600*24)).to_i, 'jour') %><% if @gossip.anonymous == 0 %>, par <%= @gossip.author.name %><% end %>
    </div>
    <div class="card-buttons">
      <li class='btn modification-btn'> <%= link_to edit_gossip_path(@gossip.id) do %>
        <i class="fas fa-pen"></i>
        <% end %>
      </li>
      <li class='btn delete-btn'> <%= link_to gossip_path(@gossip.id), method: :delete, data: { confirm: 'Êtes-vous certain de vouloir supprimer cette rumeur?' } do %>
        <i class="fas fa-trash-alt"></i>
        <% end %>
      </li>
    </div>
</section>

  <div>
    <%= render 'comments/comment-index' %>
  </div>
  <div>
    <%= render 'comments/comment-form' %>
  </div>
