<nav class="header-navbar">
    <div class='header-link-group'>
      <h2 class='header-brand'><%= link_to 'TheGossipProject', root_path %></h2>
      <ul class="header-link-group">
        <li class='btn'> <%= link_to 'Toutes les rumeurs', gossips_path %></li>
        <li class='btn'><%= link_to 'Nouveau Gossip', new_gossip_path %></li>
      </ul>
   </div> 

      <ul class="header-link-group">

        <% if logged_in? %>
          <li class='avatar-small'>
              <%= link_to image_tag("https://placeimg.com/250/250/people"), user_path(@current_user.id) %>
          </li>
          <li class="btn">
            <%=link_to 'Se déconnecter', logout_path, method: :delete %>
          </li>

        <% else %>
          <li class="btn">
            <%=link_to 'Inscription', new_user_path %>
          </li>
          <li class="btn">
            <%=link_to 'Login', login_path %>
          </li>
        <% end %>
      </ul>
</nav>

<!--

        <form class="form-inline text-right my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>

        -->